.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid ;
  border-bottom-color: rgb(212, 209, 209); 
}

.left{
  display: flex;
  align-items: center;
}

.menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.menu:hover{
  cursor:pointer;
  opacity: 0.8;
}

.logo{
  height: 23px;
  margin-top: 5px;
}
.logo:hover{
  cursor: pointer;
}

.middle{
  flex: 1;
  margin-left: 70px;
  margin-right: 40px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.middle form {
  flex:1;
  display: flex;
}

.search-bar {
  flex: 1;
  height:38px;
  padding-left: 10px;
  font-size:14px;
  margin-top: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 14px;
}

.search-button,
.voice-button,
.upload-container,
.apps-container,
.notification-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button{
  height: 41.5px;
  width: 66px;
  margin-top: 5px;
  background-color: #f5efefc3;
  border: 1px solid #ccc;
  margin-left: -1px;
  margin-right: 10px;

  cursor: pointer;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-container .tooltip,
.apps-container .tooltip,
.notification-container .tooltip{
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-container:hover .tooltip,
.apps-container:hover .tooltip,
.notification-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
  margin-top: 4px;
}

.voice-button{
  height: 41.5px;
  width: 40px;
  margin-top: 5px;
  border-radius: 20px;
  border:none;
  background-color: #f6f3f3;

  cursor: pointer;
}

.right{
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload,
.apps{
  height:24px;
  cursor: pointer;
}

.notification{
  height: 24px;
  cursor: pointer;
}

.notification-container{
  position: relative;
}

.notification-count{
  position: absolute;
  top: -2px;
  right: -9px;
  background-color: red;
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  
  padding: 2px 5px;
  border-radius: 10px;
}

.mychannel{
  height: 32px;
  border-radius: 16px;
  cursor:pointer;
}

